/* .circle1{
    height: 150px;
    width: 150px;
    border: 5px double pink;
    border-radius: 50%;
    background-color: antiquewhite;
}

.circle1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;          
  border-radius: 50%;         
}

.box{
    height: 500px;
    width: 500px;
    border: 5px solid hotpink;
    padding: 20px;
    display: grid;
    justify-content: center;;
    align-items: center;
} */

/* .box{
  display: inline;
} */


/* .box{
  height: 150px;
  width: 150px;
  background-color: deeppink;

}
.box1{
  height: 150px;
  width: 150px;
  background-color: brown;
  margin: 5px;
  position: relative;
  left: 30px;
} */

/* .box{
  border: 4px solid black;
  height: 200px;
}

.box1{
  height: 100px;
  width: 100px;
  background-color: brown;
  margin: 5px;
  float: right;
} */

.box{
  border: 4px solid black;
  height: 200px;
  display: flex;
}

.box1{
  height: 100px;
  width: 100px;
  background-color: brown;
  margin: 5px;

}